@import "variable";

.post {
  margin-top: 30px;
}
.post__head {
  position: relative;
}

.post__img-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.post__img {
  width: 100%;
  border-radius: 10px;
}

.post__item {
  position: relative;
  background-color: $bacic-textfield-color;
  border-radius: 10px;
  padding: 30px 10% 20px 4%;
  margin-top: 25px;
}

.post__titile {
  font-size: $bacic-font-size;
  font-weight: $bacic-font-weight;
}

.post__text {
  font-size: $text-font-size;
  opacity: 0.4;
  margin-top: 10px;
}

.post__text--first {
  margin-top: -10px;
}

.post__image {
  width: 30px;
  height: 30px;
  margin-top: 30px;
}

.post__dropdown {
  position: absolute;
  top: 15px;
  right: 20px;
}

.post__dropdown--title {
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.post__new-link {
  display: block;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 68px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
