.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 70px;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  padding: 4px 2px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: white;
  opacity: 0.6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

// Borads-------------------------------------
.three-dot-leader {
  cursor: pointer;
  border: none;
  background: none;
  display: block;
  position: relative;
  /* ボタン要素のサイズ */
  width: 25px;
  height: 25px;
}

.three-dot-leader .dot,
.three-dot-leader .dot::before,
.three-dot-leader .dot::after {
  display: block;
  position: absolute;
  border-radius: 50%;
  /* ドット1つのサイズ */
  width: 6px;
  height: 6px;
  /* ドットの色 */
  background: #c0c0c0;
}

.three-dot-leader .dot {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.three-dot-leader .dot::before,
.three-dot-leader .dot::after {
  content: "";
}

.three-dot-leader .dot::before {
  /* 左側ドットの位置 */
  right: -12px;
}

.three-dot-leader .dot::after {
  /* 右ｇ側ドットの位置 */
  right: 12px;
}
